<%= render partial: "layouts/navbar" %>

<%= render partial: "layouts/dashboard_tabs" %>


<div class="container">
  <div class="row">


    <h2><%= @collection.title %></h2>

    <h3> <%= @collection.description %></h3>

  </div>

  <div class="row">
    <% @pieces.map do |piece| %>
      <div class="col-md-3">
        <div class="collections-show">
          <%= image_tag piece.image.url(:medium) %> <br>
          <%= piece.name %> <br/>
          <%= piece.description %> <br/>

          <% if current_user.id == params[:user].to_i %>
            <%= link_to "Edit", "#" %> <br/>
            <%= link_to "Remove", "#" %> <br/>
            </div>
          <% else %>
            <%= link_to "Add To Cart", class: "btn btn-default" %>
            </div>
          <% end %>

          </div>
    <% end %>
    </div>
</div>
