<%= render partial: "layouts/navbar" %>

<%= render partial: "layouts/dashboard_tabs" %>


<div class="container">

  <div class="row">
    <div class="row right">
      <h4><%= current_user.name %></h4>
      <h4><%= current_user.email %></h4> <br>
    </div>
  </div>

<%= render partial: "layouts/right_sidebar" %>
</div>

