<%= render partial: "layouts/navbar" %>

<%= render partial: "layouts/dashboard_tabs" %>


<div class="container">

  <div class="row">
    <div class="row right">
      <h4><%= current_user.name %></h4>
      <h4><%= current_user.email %></h4> <br>
    </div>
  </div>

  <div class="row">
    <h2>Story</h2>
    <%#= @user.story %>
  </div>

  <div class="row">
    <h2>Collection</h2>
    <%#= @items.each do |item| %>
    <%#= link_to (image_tag item.image_url) item_path %>
  </div>

  <div class="row">
    <h2>Supporters</h2>
  </div>

  <div class="row">
    <h2>Story</h2>
  </div>

<%= render partial: "layouts/right_sidebar" %>
</div>

