<%= render partial: "layouts/navbar" %>

<%= render partial: "layouts/dashboard_tabs" %>


<div class="container">
  <div class="row">

    <h3>Add A Wishlist</h3>

    <div class="create-wishlist-form">
      <%= form_tag users_wishlists_path(@user.id) do %>
        ​
        <div class="form-group col-md-9">
          <%= label_tag :wishlist_url %>
          <%= text_field_tag :wishlist_url, "", class: "form-control" %>
          <br/>
          <%= submit_tag "Submit", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
