<%= render partial: "layouts/navbar" %>

<%= render partial: "layouts/dashboard_tabs" %>

<div class="container">

  <h2><%= @user.name %>'s Wishlist:</h2>
  <%= button_to "Refresh Wishlist",
                {action: "update"},
                method: :patch,
                class: "btn btn-default" %>

  <%= button_to "Delete Wishlist",
                {action: "destroy", id: @user.id},
                method: :delete,
                data: {confirm: "Are you sure?"}, class: "btn btn-default" %>

  <div class="row">
    <% @wishlist.each do |item| %>
      <div class="col-md-3 wish-list-items">
        <div class="thumbnail">
          <%= link_to (image_tag item[:image_url]), item[:link] %> <br>
        </div>
        <div class="wish-list-items-content">
          <%= link_to item[:title].first(34), item[:link] %> <br>
          Price: $<%= item[:price] %> <br>
          <br>
        </div>
      </div>
    <% end %>
  </div>
</div>
