<%= render partial: "layouts/navbar" %>

<%= render partial: "layouts/dashboard_tabs" %>


<div class="container">
  <div class="row">

    <h3>Add A Piece to <%= @collection.title %></h3>

    <div class="">
      <%= form_for [@collection, @piece],
                   url: {action: "create"},
                   html: { multipart: true } do |f| %>
        ​
        <!--<%#= render partial: "shared/errors", locals: { object: @item } %>-->
        ​
        <div class="form-group col-md-9">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
          <br/>
          <%= f.label :description %>
          <%= f.text_area :description, class: "form-control" %>
          <br/>
          <%= f.label :image %>
          <%= f.file_field :image %>
          <br/>
          <%= f.submit "Create", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>

    <%= render partial: "layouts/right_sidebar" %>
  </div>
</div>
