<%= render partial: "layouts/navbar" %>



<div class="container">
<div class="row">
<div class="">

      <%= form_for current_user, url: profile_path,
                   html: { multipart: true } do |f| %>
        ​
        <div class="form-group col-md-9">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
          <br/>
          <%= f.label :email %>
          <%= f.text_field :email, class: "form-control" %>
          <br/>
          <%= f.label :image %>
          <%= f.file_field :image %>
          <br/>
          <%= f.submit "Edit", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
    </div>
    </div>
