<%= render partial: "layouts/navbar" %>


<div class="container">
  <div class="row profile">
    <h2 class="header"><%= @user.name %>'s Profile:</h2>

    <div class="profile-image-container">
      <%= image_tag @user.avatar.url(:medium), class: "profile-image pull-left", alt: @user.name %>
    </div>

    <h3>Address:</h3>
    <h4><%= @user.street_address %>
      <br>
      <%= @user.city %> <%= @user.state %>  <%= @user.zip_code %></h4>
    <h4><%= mail_to @user.email, "Email #{@user.name}" %></h4>

    <% if @user == current_user %>
      <div>
        <%= link_to "Edit Profile", edit_profile_path(current_user), class: "btn btn-info" %>
      </div>
    <% end %>
  </div>

  <div class="col-md-4">
    <%= render partial: "layouts/right_sidebar" %>
  </div>

  <div class="col-md-8">

    <div class="dashboard-content story-dashboard ">
      <h2>Story</h2>
      <%= @user.story %>
    </div>

    <div class="dashboard-content">
      <h2>Picture</h2>
      <% if @user.gallery_id %>
        <%= image_tag @gallery.image.url(:medium) %>
        <br/>
        <h4>Description:</h4> <%= @gallery.description %>
      <% end %>
    </div>

    <div class="dashboard-content gift-dashboard ">
      <h2>Gift</h2>
      <%= @user.gift %>
    </div>

    <div class="dashboard-content supporters-dashboard col-md-12">
      <h2>My Supporters</h2>
      <% @user.supporters.each do |supporter| %>
        <div class="col-md-3">
          <%= image_tag supporter.avatar.url(:thumb), class: "img-circle" %>
          <br/>
          <%= link_to supporter.name, profile_path(supporter) %>
          <br/>
          <%= supporter.email %>
        </div>
      <% end %>
    </div>

    <div class="dashboard-content supported-artists-dashboard col-md-12">
      <h2>Artists I Support</h2>
      <% @user.supported_artists.each do |supported_artist| %>
        <div class="col-md-3">
          <%= image_tag supported_artist.avatar.url(:thumb), class: "img-circle" %>
          <br/>
          <%= link_to supported_artist.name, profile_path(supported_artist) %>
          <br/>
          <%= supported_artist.email %>
        </div>
      <% end %>
    </div>
  </div>
</div>
