<%= render partial: "layouts/navbar" %>


<div class="container">
  <div class="row profile">
    <%= image_tag current_user.image_url, class: "img-circle pull-left", alt: current_user.name %>
    <h1 class="header"><%= current_user.name %>'s Profile:</h1>

    <h3><%= current_user.email %></h3>
  </div>

  <div class="wish-list">
    current_user.
  </div>

<%= render partial: "layouts/right_sidebar" %>
</div>
