<%= render partial: "layouts/navbar" %>

<%= render partial: "layouts/dashboard_tabs" %>


<div class="container">
  <div class="row">

    <h3>Add Your first Image</h3>
    <%= form_for [current_user, @gallery], url: users_galleries_path(user: current_user.url),
                 html: {multipart: true} do |f| %>
      ​
      <div class="form-group col-md-9">
        <%= f.label :description %>
        <%= f.text_field :description, class: "form-control" %>
        <br/>
        <%= f.label :image %>
        <%= f.file_field :image, class: "form-control" %>
        <br/>
        <%= f.submit "Upload", class: "btn btn-primary" %>
      </div>
    <% end %>
    <div class="create-gallery-form">

    </div>
  </div>
</div>
