<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>***this is a copy of the email sent to <%= @artist %>***</h1>

<h1><%= @artist %>, someone has supported your work!</h1>

<p>
  Please send your gift to:
  <br/>
  Name: <%= @name %>
  <br/>
  Email: <%= @email %>
  <br/>
  <br/>
  Address: <%= @street_address %>
  <br/>
  <%= @city %>, <%= @state %> <%= @zip_code %>
  <br>

  Message:

</p>
<%= @message %>
<p>

</p>

<p>Thanks for supporting artists through ArtSup!</p>
</body>
</html>
