<div class="l-sidebar-right">
  <div class="streamSidebar sc-clearfix">

    <% if @user == current_user %>
      <h3>My Wish List</h3>
    <% else %>
      <h3><%= @user.name %>'s Wish List</h3>
    <% end %>

    <% if @user == current_user && !current_user.wishlist_id %>
      <h4><%= link_to "Click here to import your Wishlist", new_users_wishlist_path(current_user) %></h4>
    <% elsif !@user.wishlist_id %>
      <h4><%= @user.name %>'s Wishlist is empty</h4>
    <% end %>

    <% if @user.wishlist_id %>
      <div class="row">
        <ul class="wishlistItems">
          <% @wishlist.each do |item| %>
            <li class="thumbnail wishlistItem">
              <div class="col-md-6 wishlistItemImage">
                <%= link_to (image_tag item[:image_url]), item[:link], target: '_blank' %>
              </div>
              <div class="col-md-6 wishlistItemData">
                <div class="wishlistItemTitle">
                  <%= link_to item[:title].first(50), item[:link], target: '_blank' %>
                </div>
                <div class="wishlistItemPrice">
                  Price: $<%= item[:price] %>
                </div>
                <div class="wishlistItemQuantity">
                  Quantity: <%= item[:quantity] %>
                </div>

                <form method="GET" action="http://www.amazon.com/gp/aws/cart/add.html" target="_blank">
                  <input type="hidden" name="AssociateTag" value="art0e2-20"/>
                  <input type="hidden" name="SubscriptionId" value="ENV['AWS_ACCESS_KEY_ID']"/>
                  <input type="hidden" name="ASIN.1" value="<%= item[:asin] %>"/>
                  <br/>
                  <input type="hidden" name="Quantity.1" value="1"/>
                  <br/>
                  <input type="image"
                         name="add"
                         value="Buy from Amazon.com"
                         border="0"
                         alt="Buy from Amazon.com"
                         src="http://images.amazon.com/images/G/01/associates/add-to-cart.gif"
                         id="amazonButton"
                         data-asin="<%= item[:asin] %>">
                </form>
              </div>
            </li>
            <br>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>

