<div class="l-sidebar-right">
  <div class="streamSidebar sc-clearfix">
    <h3><%= @user.name %>'s Wish List</h3>

    <% if @user.wishlist_id %>
      <div class="row">
        <% WishlistService.fetch(@user.wishlist_id).each do |item| %>
          <ul>
            <li class="thumbnail">
              <div class="col-md-6">
                <%= link_to (image_tag item[:image_url]), item[:link], class: "" %>
              </div>
              <div class="col-md-6">
                <%= link_to item[:title].first(14), item[:link] %>
              <br>
              Price: $<%= item[:price] %> | Quantity:<%= item[:quantity] %>
              <br>
              <br>
              <%= link_to "Add To Basket", item[:link], class: "btn btn-default" %>
              </div>
            </li>
            <br>
          </ul>
        <% end %>
      </div>

    <% else %>
      <h2>Click here to import your Wishlist</h2>
    <% end %>
  </div>
</div>

