<div class="l-sidebar-right">
  <div class="streamSidebar sc-clearfix">
    <h3><%= @user.name %>'s Wish List</h3>

    <% if @user.wishlist_id %>
      <div class="row">
        <% WishlistService.fetch(@user.wishlist_id).each do |item| %>
          <ul>
            <li class="thumbnail">
              <div class="col-md-6">
                <%= link_to (image_tag item[:image_url]), item[:link], class: "" %>
              </div>
              <div class="col-md-6">
                <%= link_to item[:title].first(14), item[:link], target: '_blank' %>
              <br>
              Price: $<%= item[:price] %> | Quantity:<%= item[:quantity] %>
              <br>
              <br>
                <form method="GET" action="http://www.amazon.com/gp/aws/cart/add.html" target="_blank">
                  <input type="hidden" name="AssociateTag" value="art0e2-20"/>
                  <input type="hidden" name="SubscriptionId" value="ENV['AWS_ACCESS_KEY_ID']"/>
                  <input type="hidden" name="ASIN.1" value="<%= item[:asin] %>"/>
                  <br/>
                  <input type="hidden" name="Quantity.1" value="1"/>
                  <br/>
                  <input type="image"
                         name="add"
                         value="Buy from Amazon.com"
                         border="0"
                         alt="Buy from Amazon.com"
                         src="http://images.amazon.com/images/G/01/associates/add-to-cart.gif">
                </form>
              </div>
            </li>
            <br>
          </ul>
        <% end %>
      </div>

    <% else %>
      <h2>Click here to import your Wishlist</h2>
    <% end %>
  </div>
</div>

