<div class="container">
  <div class="row">

    <div class="l-sidebar-right col-md-2 right">
      <div class="streamSidebar sc-clearfix">
          <h3 class="sidebarHeader sc-clearfix sc-link-light sc-border-light-top sc-border-light-bottom">
            <span class="stats">Location:
            <br>
            </span> <%= "hello" %> <br/>
            <span class="stats">Supporters:
              <br>
            </span> <%= 10 %> <br/>
            <span class="stats">Supporting:
              <br>
            </span> <%= 10 %> <br/>
            <span class="stats">Following:
              <br>
            </span> <%= 10 %> <br/>
            <span class="stats">Followers:
              <br>
            </span> <%= 10 %>
          </h3>
      </div>
    </div>
  </div>
</div>

