<!DOCTYPE html>
<html>
<head>
  <title>ArtSup</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
<%= render partial: "layouts/navbar" unless (controller == 'welcome') && (action == 'index') %>
<% end %>

<% if current_user %>
<%= render partial: "layouts/dashboard_tabs" unless (controller == 'welcome') && (action == 'index') %>
<% end %>

<%= yield %>

<% if current_user %>
<%= render partial: "layouts/right_sidebar" unless (controller == 'welcome') && (action == 'index') %>
<% end %>

</body>
</html>
